<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.microsoft.com/apk/res/android" package="com.scarab.android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application android:allowBackup="true" android:label="Scarab Android Modder">
    </application>
</manifest>
